<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Meu Pet Humaitá</title>
		<link rel="stylesheet" type="text/css" href="css/estilos.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
		<script type="text/javascript" src="js/pets.js"></script>
	</head>
	<body>
		<header>
			<img alt="Logo da MeuPet" src="imgs/logo.jpg">
			<h1>Meu Pet Humaitá</h1>
		</header>
		<nav>
			<ol>
				<li><a href="index.html">Home</a></li>
				<li><a href="pets.html">Pets</a></li>
				<li><a href="proprietarios.html">Proprietários</a></li>
			</ol>
		</nav>
		<main>
			<section ng-app="myApp" ng-controller="newPet">
				<article>
					<form name="myForm">
						<div>
							<labeL for="nome">Nome :</labeL> 
							<input type="text" ng-model="nome" rn-required rn-duasletras rn-DuasLetrasPorNome name="nome" id="nome" required="required">
							<span class="ng-invalid" ng-show="myForm.nome.$dirty && myForm.nome.$invalid">O nome é de preenchimento obrigatório e deve conter ao menos duas letras por nome.</span>
						</div>
						<div>
							<labeL for="especie">Espécie :</labeL> 
							<select name="especie" id="especie" ng-model="especie" rn-required rn-especie>
								<option ng-repeat="especie in especies" value="{{especie.valor}}">{{especie.nome}}</option>
							</select>
							<span class="ng-invalid" ng-show="myForm.especie.$dirty && myForm.especie.$invalid">Informe uma espécie válida.</span>
						</div>
						<div>
							<labeL for="raca">Raça :</labeL>
							<input type="text" name="raca" required="required" rn-required rn-duasletras id="raca" ng-model="raca">
							<span  class="ng-invalid" ng-show="myForm.raca.$dirty && myForm.raca.$invalid">A raça é deprenchimento obrigatório</span>
						</div>
						<div>
							<labeL for="proprietario">Proprietário :</labeL> 
							<input type="text" name="proprietario" id="proprietario" ng-model="proprietario" rn-duasletras rn-DuasLetrasPorNome >
							<span class="ng-invalid" ng-show="myForm.proprietario.$dirty && myForm.proprietario.$invalid">O propritário não é obrigatório mas deve conter ao menos duas letras por nome.</span>
						</div>
						<div>
							<button class="button">Salvar</button>
						</div>
					</form>
					<p>Cadastrando pet {{nome}} da espécie {{especie}}, raça {{raca}}.</p>
				</article>
			</section>
		</main>
		<footer>
			<h6>Meu Pet Humaitá - 2018 - Desenvolvido por <a href="http://www.ricardosander.com.br">Ricardo Sander Lopes</a></h6>
		<foote>
	</body>
</html> 