xcv<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Meu Pet Humaitá</title>
		<link rel="stylesheet" type="text/css" href="css/estilos.css">
		<link rel="stylesheet" type="text/css" href="css/estilos.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
		<script type="text/javascript" src="js/pets.js"></script>
	</head>
	<body>
		<header>
			<img alt="Logo da MeuPet" src="imgs/logo.jpg">
			<h1>Meu Pet Humaitá</h1>
		</header>
		<nav>
			<ol>
				<li><a href="index.html">Home</a></li>
				<li><a href="pets.html">Pets</a></li>
				<li><a href="proprietarios.html">Proprietários</a></li>
			</ol>
		</nav>
		<main>
			<section ng-app="myApp" ng-controller="pets">
				<article>
					<a href="novoPet.html" class="button">Novo</a>
				</article>
				<article>
					<table>
						<tr>
							<th ng-click="toggleNome=!toggleNome;ordernarPor(toggleNome ? 'nome' : '-nome')">Nome</th>
							<th ng-click="toggleProprietario=!toggleProprietario;ordernarPor(toggleProprietario ? 'proprietario' : '-proprietario')">Proprietário</th>
							<th ng-click="toggleEspecie=!toggleEspecie;ordernarPor(toggleEspecie ? 'especie' : '-especie')">Espécie</th>
							<th ng-click="toggleRaca=!toggleRaca;ordernarPor(toggleRaca ? 'raca' : '-raca')">Raça</th>
						</tr>
						<tr ng-repeat="pet in pets | orderBy:minhaOrdenacao"> 
							<td>{{pet.nome}}</td>
							<td>{{pet.proprietario}}</td>
							<td>{{pet.especie}}</td>
							<td>{{pet.raca}}</td>
						</tr>
					</table>
				</article>
			</section>
		</main>
		<footer>
			<h6>Meu Pet Humaitá - 2018 - Desenvolvido por <a href="http://www.ricardosander.com.br">Ricardo Sander Lopes</a></h6>
		<foote>
	</body>
</html> 